.App {
  text-align: center;
}

.four-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 800px;
  margin: auto;
  margin-top: 200px;
  height: auto;
  border: 2px solid black;
}

.left-col .right-col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  border: 2px solid black;
}

.main-boxes {
  width: 350px;
  border: 2px solid black;
  min-height: 200px;
}

h1 {
  font-size: 30px;
}
