.App {
  text-align: center;
}

.four-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 900px;
  margin: auto;
  margin-top: 100px;
  height: auto;
  border: 2px solid black;
}

.left-col .right-col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  border: 2px solid black;
}

.main-boxes {
  width: 350px;
  border: 2px solid black;
  min-height: 200px;
}

h1 {
  font-size: 25px;
}

li {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding: 0px;
}

input > text {
  width: 100px;
}
