.App {
  text-align: center;
}

.four-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  height: auto;
}

.left-col .right-col {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.main-boxes {
  margin: 20px 20px;
  width: 450px;
  border: 2px solid black;
  min-height: 200px;
}

h1 {
  font-size: 25px;
}

li {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding: 0px;
}

input > text {
  width: 100px;
}
